*{
  margin: 0px;
  padding: 0px;
}

body{
}

.App {
  text-align: center;
  margin: 0px;

  padding: 0px;
}

.Encabezado {
background-color: rgba(137, 43, 226, 0.284);
padding: 50px;
margin: 50px;

}
.cajita {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;


}

.cajita img{
  width: 500px;
  border-radius: 50px;

}

.contenedor-fotos{
  width: 100%;
  height: 100px;
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr; 
  margin-top: 50px;

}

.fotos{

  padding: 10px;

}

.foto1{

  background-color: #dfc2bb;
}

.foto2{

  background-color: #CCD7C5;
}

.foto3{

  background-color: #D65780;
  color: white;
  border-radius: 50px;
  box-shadow: 5px 10px 10px #7e7d7d;
}

.foto4{

  background-color: #dfc2bb;
}

.foto5{

  background-color: #dfc2bb;
}